body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    color: #333;
}

#container {
    height: 15vh;
    width: 50vw;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

#container h1 {
    font-size: 20px;
}